<div class="container">
	<h2 id="title">Flickr feed:</h2>
	<u1>
		{{#each photo in photos}}
		<li>
					{{photo.title}} ({{photo.username}})<br>
					<img src={{photo.url}} />
			</li>
			{{/each}}
		</u1>
</div>